<!DOCTYPE html>
<html ng-app="gadgetsApp">
  <head>
    <title>Laitteet</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/googlemaps.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body id="angularBody" ng-controller="gadgetsController">

    <div id="map"></div>

    <div id="infoArea">

      <h4>Laitteet</h4>

      <p><a href="" ng-click="openEditor(gadgetEmpty)">Lisää uusi laite</a></p>

      <!-- Luettelossa näkyvät kaikki laitteet paitsi $scope.gadgetEmpty. -->

      <ul id="gadgetList">

        <li ng-repeat="g in gadgets" ng-show="g._id">
          <strong ng-bind="g.name"></strong>:
          <span>{{ g.description }}</span><br />
          <span ng-show="g.location">{{ g.location.lat }}&deg;, {{ g.location.lng }}&deg;<br /></span>
          <!--div ng-show="g.extra">
            <span ng-repeat="(key, value) in g.extra">
              {{key}}: {{value}}<br />
            </span>
          </div-->
          <a href="" ng-click="openEditor(g)">Muokkaa</a><a
          href="" ng-click="deleteGadget(g)">Poista</a>
        </li>

      </ul>

      <div id="gadgetPopupGroup">

        <!-- Luodaan jokaiselle laitteelle näkymätön muokkausruutu. -->

        <div ng-repeat="g in gadgets" class="gadgetEditorPopup" id="edit_{{g._id}}">
          <form>
            <label>
              Nimi:<br />
              <input name="txtName" value="{{gThis.name}}" ng-model="gThis.name" />
            </label>
            <label>
              Kuvaus:<br />
              <textarea name="txtDesc" ng-model="gThis.description" rows="4" cols="40">
                {{ gThis.description }}
              </textarea>
            </label>
            <table class="gadgetExtra" ng-show="gThis.extra">
              <tr ng-repeat="(key, value) in gThis.extra">
                <td>{{key}}</td>
                <td><input value="{{value}}" ng-model="gThis.extra[key]" /></td>
              </tr>
            </table>
            <button ng-click="editGadget(g)">Tallenna</button>
            <a href="" ng-click="closeEditor(g)">Peruuta</a>
          </form>
        </div>

      </div>

    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIltG8SOlODw9Y22ydNtlHBTQq48okvVI&amp;callback=initMap"
      async defer>
    </script>

  </body>
</html>
