<!DOCTYPE html>
<html ng-app="gadgetsApp">
  <head>
    <title>Lisää uusi laite</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/googlemaps.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body id="angularBody" ng-controller="gadgetListController">

    <div id="map"></div>

    <h4>Lisää uusi laite</h4>

    <form>
      <label>
        Nimi:<br />
        <input name="txtName" value="" ng-model="gadgetName" />
      </label>
      <label>
        Kuvaus:<br />
        <textarea name="txtDesc" value="" ng-model="gadgetDesc" rows="4" cols="40">
        </textarea>
      </label>
      <button ng-click="addGadget(gadgetName, gadgetDesc)">Tallenna</button><a
      href="/">Peruuta</a>
    </form>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIltG8SOlODw9Y22ydNtlHBTQq48okvVI&amp;callback=initMap"
      async defer>
    </script>

  </body>
</html>
