/* Laiteluettelo */

body {
  background: #fff;
}

a { text-decoration: none; }
a, a:visited { color: #339; }
a:hover { color: #66f; }
a:active { color: #393; }

#infoArea {
  width: 40%;
}

#gadgetList {
  margin: 0 .5em;
}

#gadgetList li {
  margin: .5em 0;
}

#gadgetList a {
  margin-right: 1em;
}

/* Muokkausnäkymä ja sisäänkirjautumisruutu */

.popup {
  background: #eee;
  width: 50%;
  left: 0;
  top: 5em;
  margin: 0 25%;
  padding: 2em;
  border: 1px solid black;
}

.popup form label {
  display: block;
  margin: 1em 0;
}

.popup .txtInput {
	width: 100%;
	border-width: 1px;
	border-style: inset;
	padding: 0;
}

.popup button {
  margin-right: 1em;
}

/* Muokkausnäkymä */

.gadgetEditorPopup {
  visibility: hidden;
  position: fixed;
}

.gadgetEditorPopup table.gadgetExtra {
  margin-bottom: 1em;
}

/* Sisäänkirjautumisruutu */

.userPopup {
  display: block;
  position: relative;
  width: 40%;
  margin: 0 30%;
  text-align: center;
}

.userPopup hr {
  margin: 1.5em 0;
}

#registerPopup {
  display: none;
}
